.DailyWeather {
  text-align: center;
  margin: 15px auto;
}

.icon {
  width: 65px;
  display: block;
  margin: 0, auto;
  margin-top: 5px;
  margin-bottom: 10px;
}

.temp {
  font-size: 65px;
}

.units {
  position: relative;
  top: -32px;
  font-size: 18px;
}

img,
.dayIcon {
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 10px;
}
